<div class="navbar-container">
  <h2><%= link_to "Booksy", root_path, class: "logo" %></h2>

  <h3><%= link_to "Les livres", books_path, class: "navbar-link" %></h3>
  <h3><%= link_to "Connexion", new_user_session_path, class: "navbar-link" %></h3>
</div>