<div class="container">

  <h1>Tu es pret à commencer une aventure à la quête des nouvelles experiences, des personnages incroyables, et des surprises ?</h1>
  <button>Tout commence ici</button>

</div>