<p style="color: green"><%= notice %></p>

<h1>À la decouverte des livres !</h1>

<div id="books">
  <% @books.each do |book| %>
      <%= link_to book do %>
         <%= render book %>
      <% end %>
  <% end %>
</div>


